<div >
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="container-fluid r-aside">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">navegacion1</h3>
      </div>
    </div>
    <h2>{{ datas?.length }} En existencia</h2>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <!-- <form (submit)="handleSubmit($event)"> -->
              <div class="col-lg-12">
                <div class="input-group">
                  <input class="form-control" id="demo-input-search2" type="text" placeholder="Buscar por nombre" autocomplete="off">
                </div>
              </div>
              <!-- </form> -->

            </div>
            <div class="row m-t-20">
              <div class="col-lg-12">
                <button type="button" class="btn btn-primary m-r-10" >+ Agregar</button>
                <button class="nav-item dropdown mega-dropdown btn btn-secondary col-md-1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Filtros
                </button>
                <div class="dropdown-menu" >

                  <ul class="list-style-none">
                    <li >
                      <div class="controls">
                        <label class="custom-control custom-checkbox m-l-10">
                          <input type="checkbox"
                                 class="custom-control-input"
                                 name=""
                          >
                          <span class="custom-control-indicator"></span> <span
                          class="custom-control-description">modelos</span>
                        </label>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="table-responsive">

              <table class="table table-striped m-t-20">
                <thead>
                <tr>
                  <th class="form-group">
                    <input type="checkbox" id="basic_checkbox_1" name="" />
                    <label for="basic_checkbox_1">N°</label>
                  </th>

                  <th >campos</th>
                  <th class="text-nowrap">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr >
                  <td class="col-md-1">
                    <div class="demo-checkbox">
                      <input type="checkbox" id="uno" name="" />
                      <label for="uno">1</label>
                    </div>
                  </td>

                  <td >
                    <div>data</div>
                  </td>
                  <td class="text-nowrap">
                    <a data-toggle="tooltip" data-original-title="View">
                      <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                    <a data-toggle="tooltip" data-original-title="Edit">
                      <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                    <a data-toggle="tooltip" data-original-title="Close"> <i
                      class="fa fa-close text-danger"></i> </a>
                  </td>
                </tr>

                </tbody>
              </table>

              <div class="d-flex justify-content-end">

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->


</div>
