<div>
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="container-fluid r-aside" *ngIf="datas?.length">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">{{ pagePath | formatName }}</h3>
      </div>
    </div>
    <h2>{{ datas?.length }} En existencia</h2>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <!-- <form (submit)="handleSubmit($event)"> -->
              <div class="col-lg-12">
                <div class="input-group">
                  <input class="form-control" id="demo-input-search2" type="text" placeholder="Buscar por nombre"
                         autocomplete="off" name="filtrarTabla" [(ngModel)]="filtrarTabla">
                </div>
              </div>
              <!-- </form> -->

            </div>
            <div class="row m-t-20">
              <div class="col-lg-12">
                <button type="button" class="btn btn-primary m-r-10">+ Agregar</button>
                <button class="nav-item dropdown mega-dropdown btn btn-secondary col-md-1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Filtros
                </button>
                <div class="dropdown-menu">

                  <ul class="list-style-none">
                    <li *ngFor="let entityName of entityNamesAll; let first = first">
                      <div class="controls">
                        <label class="custom-control custom-checkbox m-l-10">
                          <input type="checkbox"
                                 class="custom-control-input"
                                 [checked]="first || entityNames.includes(entityName)"
                                 [disabled]="first"
                                 (change)="setEntityNames($event, entityName)"
                                 name=""
                          >
                          <span class="custom-control-indicator"></span> <span
                          class="custom-control-description">{{ entityName | formatName}}</span>
                        </label>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="table-responsive">

              <table class="table table-striped m-t-20">
                <thead>
                <tr>
                  <th class="form-group">
                    <input type="checkbox" id="basic_checkbox_1" name=""/>
                    <label for="basic_checkbox_1">N°</label>
                  </th>

                  <th *ngFor="let item of entityNames">{{ item | formatName }}</th>
                  <th class="text-nowrap">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr
                  *ngFor="let data of datas | filtrarNombre: filtrarTabla | paginate: { itemsPerPage: numRows, currentPage: page }; let index=index ">
                  <td class="col-md-1">
                    <div class="demo-checkbox">
                      <input type="checkbox" id="{{ index + 1 }}" name=""/>
                      <label for="{{ index + 1 }}">{{ index + 1 }}</label>
                    </div>
                  </td>
                  <td *ngFor="let nombre of entityNames">
                    <div [innerHTML]="getValue(data, nombre) | formatValueImage:nombre"></div>
                  </td>
                  <td class="text-nowrap">
                    <a data-toggle="tooltip" data-original-title="View"
                       (click)="entityitem(data.uid,'ver')">
                      <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                    <a data-toggle="tooltip" data-original-title="Edit"
                       (click)="entityitem(data.uid,'editar')">
                      <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                    <a data-toggle="tooltip" data-original-title="Close"> <i
                      class="fa fa-close text-danger"></i> </a>
                  </td>
                </tr>

                </tbody>
              </table>

              <div class="d-flex justify-content-end">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>

                <pagination-template #p="paginationApi"
                                     (pageChange)="page =$event">

                  <div class="form-group">
                    <div class="item-par-page">
                      Pagina
                      {{getStartIndex(p.getCurrent(), p.getLastPage()) }}
                      - {{ getLasttIndex(p.getCurrent(), p.getLastPage())}}
                      de {{datas?.length}}
                      <select name="numRows" id="numRows" (change)="page = 1" [(ngModel)]="numRows">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                    </div>
                  </div>


                  <div class="pagination-next" [class.disabled]="p.isLastPage()">
                    <a *ngIf="!p.isLastPage()" (click)="p.next()"> > </a>
                  </div>

                </pagination-template>


              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->


</div>
